/* a modification of the Andy Bell reset - https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421 */

*,
*::before, 
*::after {
    box-sizing: border-box;
    color: var(--clr-text);
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

body,
h1, h2, h3, h4, h5, h6,
p,ul,ol,dl,li,
figure, figcaption, blockquote {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media(prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}